.aboutMe-section {
    padding-right:2.5rem;
    padding-left: 2.5rem;
    margin-bottom: 15rem;
}

.aboutMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.5rem;
    padding: 7.5rem 2rem 0 2rem;
}


.aboutMe__heading {
    font-size:2.3rem;
}

.aboutMe__subheading {
    font-size:2rem;
    margin-bottom: 2rem;
}

.aboutMe__desc {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color:#403f3f;
}

.aboutMe__headingWrapper {
    margin-bottom: 4.5rem;
}

.resumeBtn {
    background-color:#7843e9;
    color:white;
    padding:1rem 2.5rem;
    border: none;
    border-radius:0.5rem;
    font-weight: bold;
    transition: all 0.3s;
}

.resumeBtn:hover {
    background-color:#fff;
    color:#7843e9;
    outline:2px solid #7843e9;
}

.aboutMe__photoWrapper {
    margin-left: 9rem;
}

.aboutMe__photo {
    max-width: 35rem;
    height: 20rem;
    border: 3px solid #7843e9;
    border-radius: 0.5rem;
}

.aboutMe-img {
    width: 100%;
    height: 100%;
}



@media (max-width:60rem) {
    .aboutMe {
        grid-template-columns: 1fr;
        justify-items: center;
        gap:0;
    }

    .aboutMe__photoWrapper {
        margin-left: 0;
        margin-bottom:2rem;
    }

    .aboutMe-desc {
        text-align: center;
    }
}

@media (max-width:30.62rem) {
    .aboutMe__subheading {
        font-size: 1.6rem;
    }

    .aboutMe__desc {
        font-size: 1.4rem;
    }
    
    .resumeBtn {
        padding: 0.7rem 2rem;
    }
}

