@font-face {
    font-family: League Spartan;
    src: url(../assets/fonts/LeagueSpartan-Bold.otf)
}

@font-face {
    font-family: FuturaPTMedium;
    src: url(../assets/fonts/FuturaPTMedium.otf)
}

@font-face {
    font-family: FuturaPtBold;
    src: url(../assets/fonts/FuturaPTBold.otf)
}

* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html {
    font-size:10px;
}

/*** Reusable Classes **/

.leagueSpartanFont {
    font-family: League Spartan;
}

.futuraPtMd {
    font-family:FuturaPTMedium;
}

.futuraPtBl {
    font-family:FuturaPtBold;
}

.container {
    max-width:120rem;
    margin: 0 auto;
}

.headingLine {
    width: 3rem;
    display: inline-block;
    border: 3px solid #7843e9;
    border-radius: 5px;
}

.subheading__wrapper {
    margin-bottom: 4.5rem;
}


/************************/


/**** Colors ****/
.mainColor {
    color:#7843e9;
}

.secColor {
    color:#f3f3f3;
}

/****
Spacing
small = 2rem
medium = 4.5rem



**/
