@font-face {
    font-family: League Spartan;
    src: url(../assets/fonts/LeagueSpartan-Bold.otf)
}

@font-face {
    font-family: FuturaPtLight;
    src: url(../assets/fonts/FuturaPTLight.otf)
}

@font-face {
    font-family: FuturaPTMedium;
    src: url(../assets/fonts/FuturaPTMedium.otf)
}

@font-face {
    font-family: FuturaPtBold;
    src: url(../assets/fonts/FuturaPTBold.otf)
}

@font-face {
    font-family: FuturaPtBook;
    src: url(../assets/fonts/FuturaPTBook.otf)
}

* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html {
    font-size:62.5%;
}

/*** Reusable Classes **/

.leagueSpartanFont {
    font-family: League Spartan;
}

.futuraPtLight {
    font-family:FuturaPtLight;
}

.futuraPtBook {
    font-family:FuturaPtBook;
}

.futuraPtMd {
    font-family:FuturaPTMedium;
}

.futuraPtBl {
    font-family:FuturaPtBold;
}

.container {
    max-width:120rem;
    margin: 0 auto;
}




/************************/


/**** Colors ****/
.mainColor {
    color:#7843e9;
}

.secColor {
    color:#f3f3f3;
}

/****
Spacing
small = 2rem
medium = 4.5rem



**/
