@font-face {
    font-family: League Spartan;
    src: url(../assets/fonts/LeagueSpartan-Bold.otf)
}

@font-face {
    font-family: FuturaPTMedium;
    src: url(../assets/fonts/FuturaPTMedium.otf)
}

.leagueSpartanFont {
    font-family: League Spartan;
}

.futuraPtMd {
    font-family:FuturaPTMedium;
}

* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html {
    font-size:10px;
}




.container {
    max-width:120rem;
}


/**** Colors ****/
.mainColor {
    color:#7843e9;
}

.secColor {
    color:#f3f3f3;
}
