.project {
    position: relative;
    margin-bottom: 12rem;
}

.projects {
    padding-left: 10rem;
}

/* .projects {
    padding: 0 4.5rem;
} */

.project-wrapper {
    margin-bottom: 15rem;
}

.project-imageContainer {
    width: 60%;
    height: 40rem;
    border: 3px solid #7843e9;
}

.project-image {
    width: 100%;
    height: 100%;
}

.project-desc {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 4rem;
    right: 0rem;
}

.project-subheading {
    font-size: 1.6rem;
    margin-bottom:0.5rem;
}

.project-title{
    font-size: 2rem;
    margin-bottom:4.5rem;
}

.project-summary {
    display: flex;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 15rem;
    border-radius: 10px;
    background: #7843e9;
    margin-bottom: 2rem;
    padding: 2rem;
}
.project-explain {
    color:#fff;
    font-size: 1.8rem;
}

.project-tools{
    display: flex;
    gap:2rem;
    list-style: none;
    font-size:1.5rem;
    margin-bottom: 1rem;
}

.project-external-link {
    display: flex;
}

.project-icon {
    width:2rem;
    margin-right:1rem;
}

/*** Classes use for flipping the project **/

.move-desc-toLeft {
   align-items: start;
}

.project-image-toRight {
    display: flex;
    justify-content: end;
}