.headingLine {
    width: 3rem;
    display: inline-block;
    border: 3px solid #7843e9;
    border-radius: 5px;
}

.subheading-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subheading-section {
   display: flex;
   align-items: flex-start; 
   flex-direction: column;
}



.subheading-title {
    font-size:1.5rem;
    margin-bottom: 3px;
}


@media (max-width:60rem) {
    .subheading-title {
        font-size: 1.3rem;
    }

    .headingLine {
        border: 2px solid #7843e9;
    }
}



@media (max-width:30.62rem) {
    .subheading-title {
        font-size: 1rem;
    }

    .headingLine {
        border: 1px solid #7843e9;
    }
}


